/* .inline-flex {
    display: inline-flex;
} */

.phone-arg {
    text-align: center;
}

.phone-container {
    background-image: url(https://i.imgur.com/fL9NBiz.png);
    /* background-size: 100% auto; */
    background-size: contain;
    background-repeat: no-repeat;
    /* max-width: 400px;
    min-width: 300px; */
    width: 364px;
    height: 100%;
    display: inline-flex;
    /* display: table;
    margin: 0 auto; */
}

.phone-wallpaper {
        /* pointer-events: none; */
    /* z-index: 1; */
    height: 456px;
    /* background-color: orange; */
    /* background-image: none; */
    /* width: 100%; */
    width: 257px;
    top: 92px;
    margin-left: 54px;
    /* margin: 0 8px; */
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://i.imgur.com/vqt7UbC.jpg);
}

.phone-wallpaper-img {
    height: 456px;
    /* background-color: orange; */
    /* background-image: none; */
    /* width: 100%; */
    width: 257px;
    top: 92px;
    margin-left: 54px;
    position: absolute;
}

.phone-crack {
    width: 257px;
    margin: 0 54px;
    position: absolute;
    top: 92px;
    z-index: 10;
    pointer-events: none;
}

.phone-smear {
    width: 257px;
    margin: 0 54px;
    position: absolute;
    /* top: 103px; */
    z-index: 10;
    pointer-events: none;
    bottom: 100;
    margin-left: 39px;
}

.phone-splatter {
    width: 257px;
    margin: 0 54px;
    position: absolute;
    /* top: 103px; */
    z-index: 10;
    pointer-events: none;
    top: 250;
    margin-left: 39px;
    filter: hue-rotate(162deg) brightness(3.5);
}


.app {
    background-color: pink;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.app-row {
    /* width: 300px; */
    padding: 12px;
    height: 90px;
}

.app-container {
    padding-top: 100px;
    margin-left: 34px;
    width: 300px;
}

.app-sc {
    background-image: url(https://i.imgur.com/Ayi48lm.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: height 1s ease;
}

.app-sc:not(.app-view) div  {
    display: none;
}

.app-view {

    /* transition: height 2s, ease; */
    height: 456px;
    background-color: orange;
    background-image: none;
    /* width: 100%; */
    width: 257px;
    margin: 0 8px;
    position: absolute;
    top: 92px;
    /* flex-basis: auto; */
    z-index: 8 !important;
    transition: display 1s ease;
    /* transition: all 10s ease; */
    /* transition: height 2s, ease; */
}

.app-view div {
    display: block;
}

.app-gmail {
    background-image: url(https://i.imgur.com/vbcR6aY.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.col {
    z-index: 3;
}

.home-btn {
    /* height: 40px; */
    /* background-color: pink; */
    /* width: 10px; */
    /* display: table; */
    /* margin: 0 auto; */
    /* z-index: 1; */
    /* position: absolute; */
    /* top: 20; */
    /* left: 20; */
    /* border-radius: 20px; */
    /* width: 40px; */
    /* display: flex;   */
    /* align-items: center;
    justify-content: center; */

    position: absolute;
    margin-left: 162px;
    margin-top: 555px;

    border-radius: 20px;
    background-color: pink;
    height: 40px;
    width: 40px;
}

/* .home-btn div {
    border-radius: 20px;
    background-color: pink;
    height: 40px;
    width: 40px;
} */

.phone-checklist-title {
    position: absolute;
    margin-top: -20px;
}

.phone-checklist-title-2 {
    position: absolute;
    margin-top: 250px;
}

.phone-checklist {
    max-width: 350px;
    display: inline-flex;
    padding-top: 30px;
}

.phone-checklist div:not(.phone-checklist-title-2, .phone-checklist-title, .choice1, .choice2) {
    display: inline-flex;
    height: 80px;
}

.phone-checklist img {
    margin: 5px;
}

.choice1, .choice2 {
    text-align: left;
}

.choice1 img, .choice2 img {
    height: 80px;
}