/* body {
    font: 100%/1.125 'Lucida Grande','Lucida Sans Unicode','GNU Unifont',Verdana,Helvetica,sans-serif;
    line-height: 1.286;
} */

.file-browser {
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: sans-serif;
    font-size: 15.4px !important;
    min-width: 300px;
    overflow: scroll;
    border: lightblue solid thin;
}

.hide {
    visibility: hidden;
}

.file-address {
    border: lightgray solid thin;
    margin-left: -15px;
    display: none;
}

.headerview {
    /* display: block; */
    /* display: table-caption; */
    /* border: purple solid thin; */
    background: white;
    height: 20px;
    border-bottom: lightblue solid thin;
}

.file-browser > :nth-child(2) {
    border-bottom: none;
}

.header-right {
    float: right;
    padding: 5px 5px 0 0;
    /* cursor: pointer; */
}
.header-left {
    float: left;
    margin: 5px 0 0 5px;
}

.sidebar {
    /* display: inline-block; */
    display: table-cell;
    min-width: 115px;
    height: 200px;
    /* border: blue solid thin; */
    border-right: lightblue thin solid;
}


/* .sidebar-item a {
    display: inline-flex;
    text-decoration: none;
    border-bottom: none;
} */

.sidebar-item:hover {
    background-color: lightblue;
}

.sidebar-item {
    cursor: pointer;
    padding: 4px;
    /* display: inline-block; */
    width: -webkit-fill-available;
    text-decoration: none;
    display: inline-flex;
    border-bottom: none;
}

/* .sidebar-item img {
    margin-right: 7px;
    margin-top: -0.1em;
} */
.arrow-cont {
    position: absolute;
    display: flex !important;
}

.arrow-reverse {
    transform: rotate(180deg);
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.arrow {
    cursor: pointer;
}
/* .sidebar-item:before {
    content: url(https://i.imgur.com/7kBV9ZQ.png);
    transform: scale(0.3,0.3);
} */
/* 
.favicon-img {
    height: 18px;
    width: 18px;
} */
.mainview {
    display: table;
    position: relative;
}

.middlepane {
    display: table-cell;
    position: relative;
    width: 400px;
    height: 200px;
    /* border: blue solid thin; */
}

.footerview {
    display: block;
    /* border: orange solid thin; */
}

.file-address-default {
    /* display: none; */
    border: lightgray solid thin;
    margin-left: -15px;
    display: inline-flex;
    visibility: visible;
    position: absolute;
    top: 0;
    height: auto !important;
    margin-left: -40px;
    /* width: 90% !important; */
    padding-left: 10px;
    /* font-size: 14.5px; */
}

/* .middlepane .tab:not(.default-tab) {
    padding-top: 150px;
    top: -150px;
    position: absolute;
} */

.tab, 
:target ~ .default-tab { display: none }

.default-tab { display: block; }

#mainview:target ~ .mainview,
#files-list:target ~ .files-list,
#documents:target ~ .documents,
#schematics:target ~ .schematics,
#research:target ~ .research,
#important:target ~ .important,
#blackmail:target ~ .blackmail,
#weapons:target ~ .weapons,
#downloads:target ~ .downloads,
#pictures:target ~ .pictures,
#trash:target ~ .trash,
#viewPwd:target ~ .viewPwd {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 1;
    /* width: 400px; */
    margin-top: -20px;
    max-width: 400px;
    width: -webkit-fill-available;
    top: 20px;
    height: 200px;
    overflow: auto;
    /* margin-top: 244px; */
}

  .mainview.tab::-webkit-scrollbar , 
  .files-list.tab::-webkit-scrollbar ,
  .documents.tab::-webkit-scrollbar ,
  .schematics.tab::-webkit-scrollbar ,
  .research.tab::-webkit-scrollbar ,
  .important.tab::-webkit-scrollbar ,
  .blackmail.tab::-webkit-scrollbar ,
  .weapons.tab::-webkit-scrollbar ,
  .downloads.tab::-webkit-scrollbar ,
  .pictures.tab::-webkit-scrollbar ,
  .trash.tab::-webkit-scrollbar {
    width: 1em;
  }
   
  .mainview.tab::-webkit-scrollbar-track , 
  .files-list.tab::-webkit-scrollbar-track , 
  .documents.tab::-webkit-scrollbar-track ,
  .schematics.tab::-webkit-scrollbar-track ,
  .research.tab::-webkit-scrollbar-track ,
  .important.tab::-webkit-scrollbar-track ,
  .blackmail.tab::-webkit-scrollbar-track ,
  .weapons.tab::-webkit-scrollbar-track ,
  .downloads.tab::-webkit-scrollbar-track ,
  .pictures.tab::-webkit-scrollbar-track ,
  .trash.tab::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .mainview.tab::-webkit-scrollbar-thumb , 
  .files-list.tab::-webkit-scrollbar-thumb , 
  .documents.tab::-webkit-scrollbar-thumb ,
  .schematics.tab::-webkit-scrollbar-thumb ,
  .research.tab::-webkit-scrollbar-thumb ,
  .important.tab::-webkit-scrollbar-thumb ,
  .blackmail.tab::-webkit-scrollbar-thumb ,
  .weapons.tab::-webkit-scrollbar-thumb ,
  .downloads.tab::-webkit-scrollbar-thumb ,
  .pictures.tab::-webkit-scrollbar-thumb ,
  .trash.tab::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

#mainview:target ~ .file-address.mainview,
#files-list:target ~ .file-address.files-list,
#documents:target ~ .file-address.documents,
#schematics:target ~ .file-address.schematics,
#research:target ~ .file-address.research,
#important:target ~ .file-address.important,
#blackmail:target ~ .file-address.blackmail,
#weapons:target ~ .file-address.weapons,
#downloads:target ~ .file-address.downloads,
#pictures:target ~ .file-address.pictures,
#trash:target ~ .file-address.trash,
#viewPwd:target ~ .file-address.viewPwd {
    display: inline-flex;
    visibility: visible;
    position: absolute;
    top: 0;
    height: auto;
    /* width: 90%; */
    padding-left: 10px;
    font-size: 14px;
    margin-left: -40px;

    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* margin-top: -3.2em; */
    /* margin-top: -32px; */
}

.default-tab.mainview { 
    /* display: block; */
    visibility: visible;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    top: 0px !important;
    /* width: 400px; */
    max-width: 400px;
    margin-top: -20px;
    width: -webkit-fill-available;
    height: 200px;
    overflow: auto;
    /* margin-top: 244px; */
}

.files-list {
    overflow: hidden;
}

.file-icon {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    width: 96px;
    border: none;
}

.file-icon span {
    /* margin-left: -80px; */
    /* margin-left: 14px; */
    display: flex;
    justify-content: center;
}

/* .file-icon img {
    padding-left: 10px;
} */

/* ao3 fixes */
.headerview p ,
.sidebar-item p {
    display: inline;
}

.file-browser p:first-child,
.sidebar p:first-child,
.middlepane p:first-child {
    margin: 0;
    padding: 0;
    line-height: 1;
}
/* ao3 fixes end */

.file-address-default a,
.file-address a {
    text-decoration: none;
}

.viewtext {
    padding: 10px;
    border: black solid thin;
    margin: 10px;
    height: -webkit-fill-available;
}

.locked-view {
    width: 100%;
    text-align: center;
    height: -webkit-fill-available;
    padding: 61px 0;
    background-color: lightgray;
    display: block;
}

/* .locked-view.hint {
    display: table;
} */

.unlocked-view, .unlocked-hint {
    display: none;
}

.incorrect-pwd {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    font-size: 10px;
    color: red;
    visibility: hidden;
}

.download-all {
    display: inline-flex;
    border: lightblue solid thin;
    padding: 4px;
    margin: 6px;
}

.download-all:hover {
    background-color: lightblue;
    cursor: pointer;
}

/* icons */
.download-all:before {
    content: url(https://img.icons8.com/color/18/000000/download--v1.png);
    margin-right: 7px;
    margin-top: -0.1em;
    /* display: inline-flex; */
}

.folder-img:before {
    content: url(https://img.icons8.com/color/18/000000/folder-invoices--v1.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.excel-img:before {
    content: url(https://img.icons8.com/color/18/000000/new-spreadsheet.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.word-img:before{
    content: url(https://img.icons8.com/color/18/000000/word.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.png-img:before {
    content: url(https://img.icons8.com/color/18/000000/image.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.txt-img:before {
    content: url(https://img.icons8.com/color/48/000000/txt.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.trash-img:before {
    content: url(https://img.icons8.com/office/18/000000/trash.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.video-img:before {
    content: url(https://img.icons8.com/color/18/000000/video.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.pdf-img:before {
    content: url(https://img.icons8.com/color/18/000000/pdf.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

.file-tree-img:before {
    content: url(https://img.icons8.com/color/18/000000/folder-tree.png);
    margin-right: 7px;
    margin-top: -0.1em;
}

/* .download-all, */
td.folder-img,
td.excel-img,
td.word-img,
td.png-img,
td.trash-img,
td.txt-img,
td.video-img,
td.pdf-img,
td.file-tree-img
{
    display: inline-flex;
}


table.document-list { 
    width: 100%; 
    border-collapse: collapse; 
}

.document-list tr th {
    /* float: left; */
    text-align: left;
}

.document-list tbody tr:hover {background-color: #D6EEEE;}

/* hints */
.hint {
    display: none;
}

.dia-desc.black a,
.dia-desc.black a:visited {
    color: white;
}

.research-downloaded img:not(.convo-icon) {
    display: block;
    margin: 0 auto;
}

.research-downloaded .dia-desc {
    margin-top: -162px;
    display: block;
    left: 50%;
    transform: translate(-50%);
    margin-left: unset;
    margin-right: unset;
}

.research-downloaded .convo-left {
    margin-bottom: -50px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    margin: 0 auto;
  }

  .loader-complete {
      display: none;
      text-align: center;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

   @media only screen and (max-width: 400px) {
    .file-address, .file-address-default {
        font-size: 10px !important;
    }
  }