/* :not(p) */
#workskin {
/* z-index: 1000; */
width: initial;
overflow: inherit;
/* max-width: 100%; */
position: relative;
}


.white-overflow {
border: none;
right: 0;
/* left: 0; */
box-shadow: none;
padding: 0 1.2em;
box-sizing: border-box;
position: absolute;
z-index: 10;
width: 100vw;
margin-left: -50vw;
left: 50%;
padding: 0;
}

/* tabbing css */

/* https://stackoverflow.com/questions/3354279/default-target-with-css */

.tab, 
.tab0,
:target ~ .default-tab { display: none }

.default-tab { display: block; }
.root { margin-top: -1em !important; }

#root:target ~ .root, /* start of ch */
#end-fenton:target ~ .end-fenton,
#end-phantom:target ~ .end-phantom,
#end-both:target ~ .end-both {
display: block;
margin-top: -1em;
}

/* todo -- hide end notes , style notebook img and placement  */
/* overriding an ao3 class hahah */
.jump {
    display: none;
}

